{% extends 'layout.html' %}

{% block content %}
<form class="col-8 mx-auto bg-light px-4 py-3" method="post" action="">
    {{ form.hidden_tag() }}
    <h2 class="text-info my-3">
        Reset Password
    </h2>
    <div class="mb-3">
        {{ form.password.label(class='form-label') }}
        {% if form.password.errors %}
            {{ form.password(class='form-control is-invalid') }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class='form-control') }}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class='form-label') }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class='form-control is-invalid') }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class='form-control') }}
        {% endif %}
    </div>
    {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock content %}